@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
/*---------------------------------------------------*
 * Light Theme                                       *
 *---------------------------------------------------*/
:root {
  /* Background */
  --background: #ffffff;
  --background-secondary: #f8fafc;

  /* Typography */
  --title: #0b1728;
  --title-secondary: #00bdf5;
  --text: #62748a;
  --text-muted: #acb5bd;

  /* Card */
  --card: #f5f7fa;
  --card-hover: #f8fafc;

  /* Button */
  --button: #1c293a;
  --button-hover: #2a3a4f;
  --button-text: #ffffff;

  /* Border */
  --border: #e2e8f0;
  --border-hover: #00bdf5;

  --surface: #f8fafc;
  --badge: #e6f9ff;

  /* Status */
  --success: #2e8b57;
  --warning: #b5790a;
  --danger: #e9524a;

  /* shadow */
  --shadow-sm: 0 4px 16px rgba(11, 23, 40, 0.08);
  --shadow-lg: 0 16px 48px rgba(11, 23, 40, 0.16);
}
/*---------------------------------------------------*
 * Light Dark                                        *
 *---------------------------------------------------*/
.dark {
  /* Background */
  --background: #0b1728;
  --background-secondary: #09111f;

  /* Typography */
  --title: #e1e8f0;
  --title-secondary: #00bdf5;
  --text: #92a3b7;
  --text-muted: #62748a;

  /* Card */
  --card: #162233;
  --card-hover: #1c2d43;

  /* Button */
  --button: #00bdf5;
  --button-hover: #00a8dc;
  --button-text: #0b1728;

  /* Border */
  --border: #f8fafc14;
  --border-hover: #00bdf5;

  --surface: #1c2d43;
  --badge: #0f4562;

  /* Status */
  --success: #59b287;
  --warning: #e8a33d;
  --danger: #e9524a;

  /* shadow */
  --shadow-sm: 0 4px 6px -1px rgba(0, 0, 0, 0.28);
  --shadow-lg: 0 18px 56px rgba(0, 0, 0, 0.45);
}

/*---------------------------------------------------*
 * Theme Configuration                               * 
 *---------------------------------------------------*/
@theme inline {
  /* Colors */
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);

  --color-title: var(--title);
  --color-title-secondary: var(--title-secondary);

  --color-text: var(--text);
  --color-text-muted: var(--text-muted);

  --color-card: var(--card);
  --color-card-hover: var(--card-hover);

  --color-button: var(--button);
  --color-button-hover: var(--button-hover);
  --color-button-text: var(--button-text);

  --color-border: var(--border);
  --color-border-hover: var(--border-hover);

  --color-surface: var(--surface);
  --color-badge: var(--badge);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  /* shadow */
  --shadow-sm: var(--shadow-sm);
  --shadow-lg: var(--shadow-lg);

  /*  etrminal */
  --animate-blink: blink 1s steps(1) infinite;

  /* Fonts */
  --font-primary: var(--font-space-grotesk);
  --font-secondary: var(--font-dMSans);
}
/* terminal  */
@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50.01%,
  100% {
    opacity: 0;
  }
}

html {
  scrollbar-color: var(--success) transparent;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar {
  display: none;
}
body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-secondary);
  cursor: none;
}

/*---------------------------------------------------*
 * Base Layer                                        * 
 *---------------------------------------------------*/

@layer base {
  h1 {
    @apply text-[34px] sm:text-4xl md:text-5xl lg:text-[55px] font-primary font-bold leading-[1.2] tracking-normal text-title;
  }

  h2 {
    @apply text-3xl md:text-4xl font-primary font-bold leading-[1.3] tracking-normal text-title;
  }

  h3 {
    @apply text-[22px]   font-primary font-semibold leading-[1.3] tracking-normal text-title;
  }

  h4 {
    @apply text-[18px] font-primary font-bold leading-[1.4] tracking-normal text-title;
  }

  p {
    @apply text-base font-secondary font-light leading-[1.6] tracking-normal text-text;
  }

  .p14 {
    @apply text-sm font-secondary font-normal leading-[1.6] tracking-normal text-text;
  }

  .p13 {
    @apply text-[13px] font-secondary font-normal leading-[1.6] tracking-normal text-text;
  }

  .app-container {
    @apply max-w-6xl w-full mx-auto px-5 py-10 md:py-15 lg:py-15;
  }
}
